[Unit]
Description=Startup script for Dicefiend Discord bot
After=network.target

[Service]
User=dicefiend
WorkingDirectory=/opt/dicefiend
#ExecStart=/usr/bin/tmux new -d -s dicefiend /bin/bash /opt/dicefiend/start.sh
ExecStart=/bin/bash /opt/dicefiend/start.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

# systemctl enable --now dicefiend